@font-face{
    font-family: 'irancell';
    src: url('irancell.ttf') format('truetype'),
}
*{
    font-family:irancell ;
    background-color: rgb(39, 39, 39);
    color: rgb(98, 237, 255);
    text-align: center;
}
.ltr{
    text-align: left;
}
.red{
    color: red;
}
.blue {
    color: blue;
}
.black{
    color: black;
}
.liceblue{
    background-color: aliceblue;
}
